In [5]:
# Data Manipulation
import pandas as pd

# Data Visualisation
import matplotlib.pyplot as plt

%matplotlib inline
import seaborn as sns

# Import csv data
df = pd.read_csv('sales_data_na.csv')

# Calculate the IQR
Q1 = df['Profit'].quantile(0.25)
Q3 = df['Profit'].quantile(0.75)
IQR = Q3 - Q1


# Identify the outliers using the IQR method
outliers = df[(df['Profit'] < Q1 - 1.5 * IQR) | (df['Profit'] > Q3 + 1.5 * IQR)]

print(outliers)

             Date  Day     Month  Year  Customer_Age             Age_Group
2       3/23/2014   23     March  2014           NaN        Adults (35-64)  \
3       3/23/2016   23     March  2016          49.0        Adults (35-64)
8       2/22/2014   22  February  2014          35.0        Adults (35-64)
9       2/22/2016   22  February  2016          35.0        Adults (35-64)
30      3/13/2014   13     March  2014          48.0        Adults (35-64)
...           ...  ...       ...   ...           ...                   ...
113012  4/10/2016   10     April  2016          25.0  Young Adults (25-34)
113021  10/2/2013    2   October  2013          34.0  Young Adults (25-34)
113022  10/2/2015    2   October  2015          34.0  Young Adults (25-34)
113023  3/20/2014   20     March  2014          34.0  Young Adults (25-34)
113024  3/20/2016   20     March  2016          34.0  Young Adults (25-34)

       Customer_Gender        Country             State Product_Category
2                    M      Australia               NaN      Accessories  \
3                    M      Australia   New South Wales      Accessories
8                    M      Australia          Victoria      Accessories
9                    M      Australia          Victoria      Accessories
30                   F         Canada  British Columbia      Accessories
...                ...            ...               ...              ...
113012               M        Germany           Hamburg         Clothing
113021               M  United States        California         Clothing
113022               M  United States        California         Clothing
113023               M  United States        California         Clothing
113024               M  United States        California         Clothing

       Sub_Category              Product  Order_Quantity  Unit_Cost
2        Bike Racks  Hitch Rack - 4-Bike              23       45.0  \
3        Bike Racks  Hitch Rack - 4-Bike              20       45.0
8        Bike Racks  Hitch Rack - 4-Bike              22       45.0
9        Bike Racks  Hitch Rack - 4-Bike              21       45.0
30       Bike Racks  Hitch Rack - 4-Bike              20       45.0
...             ...                  ...             ...        ...
113012        Vests      Classic Vest, S              28       24.0
113021        Vests      Classic Vest, S              25       24.0
113022        Vests      Classic Vest, S              24       24.0
113023        Vests      Classic Vest, S              28       24.0
113024        Vests      Classic Vest, S              26       24.0

        Unit_Price  Profit    Cost  Revenue
2            120.0  1366.0  1035.0      NaN
3            120.0  1188.0   900.0   2088.0
8            120.0  1096.0   990.0   2086.0
9            120.0  1046.0   945.0   1991.0
30           120.0  1476.0   900.0   2376.0
...            ...     ...     ...      ...
113012        64.0   995.0   672.0   1667.0
113021        64.0   968.0   600.0   1568.0
113022        64.0   929.0   576.0   1505.0
113023        64.0  1084.0   672.0   1756.0
113024        64.0  1007.0   624.0   1631.0

[10020 rows x 18 columns]